.wow {
  visibility: hidden;
}

@-webkit-keyframes fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fade_top {
  -webkit-animation-name: fade_top;
  animation-name: fade_top;
}

.swiper-pagination-progressbar {
  background: rgb(0 0 0 / 3%);
}

@-webkit-keyframes slide_left {
  0% {
    left: 0%;
  }

  100% {
    left: -30%;
  }
}

@keyframes slide_left {
  0% {
    left: 0%;
  }

  100% {
    left: -30%;
  }
}

.slide_left {
  -webkit-animation-name: slide_left;
  animation-name: slide_left;
}

@-webkit-keyframes slide_right {
  0% {
    right: 0%;
  }

  100% {
    right: -30%;
  }
}

@keyframes slide_right {
  0% {
    right: 0%;
  }

  100% {
    right: -30%;
  }
}

.slide_right {
  -webkit-animation-name: slide_right;
  animation-name: slide_right;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('./assets/fonts/bebas/BebasNeue-Regular.woff2') format('woff2'),
    url('./assets/fonts/bebas/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('./assets/fonts/sf-pro/SFProDisplay-Bold.woff2') format('woff2'),
    url('./assets/fonts/sf-pro/SFProDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('./assets/fonts/sf-pro/SFProDisplay-Regular.woff2') format('woff2'),
    url('./assets/fonts/sf-pro/SFProDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('./assets/fonts/sf-pro/SFProDisplay-Medium.woff2') format('woff2'),
    url('./assets/fonts/sf-pro/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url('./assets/fonts/sf-pro/SFProDisplay-Semibold.woff2') format('woff2'),
    url('./assets/fonts/sf-pro/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  /* colors */
  --primary-color: #000000;
  --secondary-color: #3A4C52;
  --white-color: #FFFFFF;
  --pure-black-color: #231f1f;
  --highlight-color: #e1e4e8;
  --background-smoke: #fafbfc;
  --background-gray: #F5F5F5;
  --secondary-highlight-color: #AF2221;
  /* font-sizes */
  --banner-title-font-size: 4.5rem;
  --section-title-font-size: 4rem;
  --section-subtitle-font-size: 3rem;
  --paragraph-font-size: 1.375rem;
  --content-font-size: 1.15rem;
  --link-font-size: 1rem;
  --text-font-size: 1rem;
  /* font-families */
  --light-font-family: 'SFProDisplay-Regular';
  --regular-font-family: 'SFProDisplay-Regular';
  --medium-font-family: 'SFProDisplay-Medium';
  --semibold-font-family: 'SFProDisplay-Semibold';
  --bold-font-family: 'Bebas Neue';
  /* other */
  --common-transition: all 0.6s ease;
  --web-border-radius: 0.625rem;
  --mobile-border-radius: 0.6rem;
  --common-gap-size: 0.75rem;
  --small-gap-size: 1.5rem;
  --medium-gap-size: 2.5rem;
  --big-gap-size: 6rem;
}

/* Custom scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the vertical scrollbar */
  height: 4px;
  /* Height of the horizontal scrollbar */
}

/* Remove the up/down arrow buttons on the scrollbar */
::-webkit-scrollbar-button {
  display: none;
}

/* The scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* Transparent background */
}

/* The draggable part of the scrollbar (thumb) */
::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
  /* Color of the scrollbar thumb */
  border-radius: 2px;
  /* Rounded corners */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--highlight-color);
  /* Darker color when hovered */
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin;
  /* Thin scrollbar */
  scrollbar-color: var(--highlight-color) transparent;
  /* Thumb color and track color */
}

.semibold-fonts {
  font-family: var(--semibold-font-family);
}

.bold-fonts {
  font-family: var(--bold-font-family) !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: var(--regular-font-family);
  color: var(--primary-color);
}

html {
  height: auto;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.2;
  width: 100%;
}


body.no-scroll-body {
  overflow-y: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  background-color: transparent;
  color: unset;
  outline: none;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

a:focus,
a:hover {
  outline: 0;
  text-decoration: unset;
  color: unset;
}

img {
  max-width: 100%;
  transition: var(--common-transition);
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  display: block;
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.p0 {
  padding: 0 !important;
}


.main-container-fluid {
  width: 95%;
  margin: 0 auto;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}


.mini-container {
  width: 54%;
  margin: 0 auto;
}

.content_accordian {
  display: none;
}

.section-padding {
  padding: 8rem 0;
}

.section-padding-small {
  padding: 2rem 0;
}

.hover-enable {
  display: none;
}

.hover-disable {
  display: inline-block;
}

.mobile-image {
  display: none;
}

.web-image {
  display: block;
}

div:focus-visible,
img:focus-visible,
button:focus-visible {
  outline: none;
  border: none;
}

.visible-tab-mobile {
  display: none !important;
}

.hide-tab-mobile {
  display: block !important;
}

.visible-mobile-only {
  display: none !important;
}

.hide-mobile-only {
  display: block !important;
}

.inner-flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.flex-row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}


.flex-row.flex-row-medium {
  gap: var(--medium-gap-size);
}

.alc {
  align-items: center !important;
}

.jsc {
  justify-content: center !important;
}


.inner-flex.inner-flex-small {
  gap: var(--small-gap-size);
}

.inner-flex.inner-flex-smallest {
  gap: 0.25rem;
}

.inner-flex.inner-flex-medium {
  gap: var(--medium-gap-size);
}

.inner-flex.inner-flex-big {
  gap: var(--big-gap-size);
}

.big-gap {
  gap: var(--big-gap-size) !important;
}

.inner-flex.inner-flex-large {
  gap: 10rem;
}

.inner-flex.inner-flex-common {
  gap: var(--common-gap-size);
}

.inner-flex.inner-flex-center {
  text-align: center;
  align-items: center;
}

.white-color {
  color: var(--white-color) !important;
}

.sahashya-color {
  color: var(--secondary-color) !important;
}

.red-color {
  color: var(--secondary-highlight-color) !important;
}

.black-color {
  color: var(--pure-black-color) !important;
}

.highlight-color {
  color: var(--highlight-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.secondary-highlight-color {
  color: var(--secondary-highlight-color) !important;
}

/* fonts css */
/* styles.css */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
}

.banner-title h1,
.banner-title h1 span,
.banner-title h2,
.banner-title h2 span {
  font-size: var(--banner-title-font-size);
  font-family: 'Bebas Neue';
}

.banner-title h1 span,
.banner-title h2 span {
  color: var(--secondary-color);
}

.section-title h1,
.section-title p,
.section-title h1 span,
.section-title h2,
.section-title h2 span {
  font-size: var(--section-title-font-size);
  font-family: var(--semibold-font-family);
}

.section-title h1 span,
.section-title p span,
.section-title h2 span {
  color: var(--secondary-color);
}

.section-content p,
.section-content p span {
  font-size: var(--content-font-size);
  line-height: 1.5;
}

.section-content p span {
  color: var(--secondary-color);
}


.section-paragraph p,
.section-paragraph p span {
  font-size: var(--paragraph-font-size);
  line-height: 1.5;
}

.section-paragraph p span {
  color: var(--secondary-color);
}


.section-text p,
.section-text span,
.section-text p span {
  font-size: 1rem !important;
  line-height: 1.25;
}

.section-text p span {
  color: var(--secondary-color);
}

.section-subtitle p,
.section-subtitle h4,
.section-subtitle h4 span {
  font-size: var(--section-subtitle-font-size);
  font-family: var(--semibold-font-family);
  color: var(--primary-color);
}

.section-subtitle h4 span {
  color: var(--secondary-color);
}

.smallest-font p {
  font-size: 0.85rem;
}

.link-font-size a p,
.link-font-size p {
  font-size: var(--link-font-size);
}

.reecosys-template-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  padding: 1rem 2rem;
  transition: var(--common-transition);
  border-radius: 0rem;
  width: fit-content;
  justify-content: center;
}

.reecosys-template-button .reecosys-btn-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.reecosys-template-button .reecosys-btn-icon .hover-disable {
  display: block;
}

.reecosys-template-button .reecosys-btn-icon .hover-enable {
  display: none;
}

.reecosys-template-button:hover .reecosys-btn-icon .hover-disable {
  display: none;
}

.reecosys-template-button:hover .reecosys-btn-icon .hover-enable {
  display: block;
}

.reecosys-template-button p,
.reecosys-template-button span {
  line-height: 1 !important;
}

.button-style-primary {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
}

.button-style-primary span,
.button-style-primary p {
  color: var(--white-color);
  transition: var(--common-transition);
  font-size: 1.25rem;
}

.button-style-primary:hover {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  transition: var(--common-transition);
}

.button-style-primary:hover span,
.button-style-primary:hover p {
  color: var(--primary-color);
  transition: var(--common-transition);
}

.button-style-secondary {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
}

.button-style-secondary span,
.button-style-secondary p {
  color: var(--white-color);
  transition: var(--common-transition);
  font-size: 1.15rem;
}

.button-style-secondary:hover {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
  transition: var(--common-transition);
}

.button-style-secondary:hover span,
.button-style-secondary:hover p {
  color: var(--secondary-color);
  transition: var(--common-transition);
}

.button-style-white {
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
}

.button-style-white span,
.button-style-white p {
  color: var(--primary-color);
  transition: var(--common-transition);
  font-size: 1.15rem;
}

.button-style-white:hover {
  border: 1px solid var(--white-color);
  background-color: transparent;
  transition: var(--common-transition);
}

.button-style-white:hover span,
.button-style-white:hover p {
  color: var(--white-color);
  transition: var(--common-transition);
}




.button-style-secondary-outline {
  border: 1px solid var(--secondary-color);
  background-color: transparent;
}

.button-style-secondary-outline span,
.button-style-secondary-outline p {
  color: var(--secondary-color);
  transition: var(--common-transition);
  font-size: 1.15rem;
}

.button-style-secondary-outline:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  transition: var(--common-transition);
}

.button-style-secondary-outline:hover span,
.button-style-secondary-outline:hover p {
  color: var(--white-color);
  transition: var(--common-transition);
}


.button-style-white-outline {
  border: 1px solid var(--white-color);
  background-color: transparent;
}

.button-style-white-outline span,
.button-style-white-outline p {
  color: var(--white-color);
  transition: var(--common-transition);
  font-size: 1.15rem;
}

.button-style-white-outline:hover {
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  transition: var(--common-transition);
}

.button-style-white-outline:hover span,
.button-style-white-outline:hover p {
  color: var(--primary-color);
  transition: var(--common-transition);
}






.button-style-primary-outline {
  border: 1px solid var(--primary-color);
  background-color: transparent;
}

.button-style-primary-outline span,
.button-style-primary-outline p {
  color: var(--primary-color);
  transition: var(--common-transition);
  font-size: 1.25rem;
}

.button-style-primary-outline:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  transition: var(--common-transition);
}

.button-style-primary-outline:hover span,
.button-style-primary-outline:hover p {
  color: var(--white-color);
  transition: var(--common-transition);
}

/* CSS STarts here */


.header-wrapper {
  position: fixed;
  background-color: transparent;
  transition: var(--common-transition);
  top: 0rem;
  border-bottom: 0px solid var(--primary-color);
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 999;
}

.header-wrapper.webmenu_hidden {
  top: -100%;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  gap: var(--small-gap-size);
  align-items: center;
  padding-right: 0;
}

.header-links-ul ul {
  display: flex;
  align-items: center;
  gap: var(--medium-gap-size);
}

.header-links-ul ul li a,
.header-links-ul ul li span,
.header-links-ul ul li p {
  color: var(--primary-color);
}

.header-links-ul ul li a {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--primary-color);
}

.white-header-wrapper .header-links-ul ul li a,
.white-header-wrapper .header-links-ul ul li a p {
  color: var(--white-color);
}

.header-logo {
  width: 14.5rem;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}


.nav-toggle {
  cursor: pointer;
  display: none;
}

.mob-link-font-size {
  display: none;
}

.mobile-navigation-wrapper {
  display: none;
}

.form-card {
  position: relative;
}

.form-input-icon.form-input-icon-left {
  left: 1rem;
}

.form-title-label {
  margin-bottom: 0.5rem;
}

.form-input-icon.form-input-icon-right {
  right: 1rem;
}



.form-control-reecosys-template {
  padding: 1rem 2rem 1rem 3.5rem;
  border: 1px solid var(--highlight-color);
  resize: none;
  background-color: var(--white-color);
  margin: 0 !important;
  outline: none;
  line-height: 1;
  font-size: 1rem;
  width: 100%;
  font-family: var(--medium-font-family);
  border-radius: 0.5rem;
}

.form-control-reecosys-template.form-control-reecosys-template-search {
  padding: 1rem 3.5rem 1rem 2rem;
}

.form-input-icon {
  height: 24px;
  width: 24px;
  font-size: 24px;
  line-height: 24px;
  position: absolute;
  top: 1rem;
  transform: unset;
}

.form-input-icon.form-input-icon-search {
  right: 1rem;
}

.form-control-reecosys-template:focus,
.form-control-reecosys-template:focus-visible {
  border-color: var(--primary-color);
}


.web-bar {
  display: flex;
  flex-direction: column;
  gap: .3rem;
  cursor: pointer;
}

.bar {
  display: block;
  height: 2px;
  width: 24px;
  border-radius: 5px;
  background-color: var(--primary-color);
  -webkit-transition: var(--common-transition);
  -moz-transition: var(--common-transition);
  -ms-transition: var(--common-transition);
  -o-transition: var(--common-transition);
  transition: var(--common-transition);
}


.white-header-wrapper .bar {
  background-color: var(--white-color);
}


.project-info-icon-flex {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.project-info-icon {
  width: 2rem;
  max-width: 2rem;
  height: 2rem;
  max-height: 2rem;
}

.f-carousel__counter span,
.f-carousel__toolbar__column > * {
  color: #FFFFFF !important;
}